{% load custom_filters %}
{% include "head.html" %}
{% load static %}

{% include 'PolicyAndMinistries/include/head.html' %}
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        {% include "navbar.html" %}
        {% include "sidebar.html" %}
        
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Audit</h1>
                </div>
                
                <!-- /.col -->
                <div class="pc-container">      
                    <div class="col">
                        <div class="card">         
                            <div class="card-body table-responsive" id="list_table_view">
                                <table id="tableIndicator" class="table table-bordered m-0 p-0" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="ps-5 pe-5">Timestamp</th>
                                            <th>User</th>
                                            <th>Action</th>
                                            <th>Object</th>
                                            <th>Model</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                    
                                      {% for entry in auditlog_entries %}
                                      <tr>
                                          <td>{{ entry.timestamp }}</td>
                                          <td>
                                              {% if entry.actor.get_full_name %}
                                                  {{ entry.actor.get_full_name }} ({{ entry.actor.username }})
                                              {% else %}
                                                  System
                                              {% endif %}
                                          </td>
                                          {% if entry.action == 0 %}
                                              <td class="fw-bold text-success">Created</td>
                                          {% elif entry.action == 1 %}
                                              <td class="fw-bold text-warning">Updated</td>
                                          {% elif entry.action == 2 %}
                                              <td class="fw-bold text-danger">Deleted</td>
                                          {% else %}
                                              <td class="fw-bold text-primary">Other</td>
                                          {% endif %}
                                          <td>{{ entry.object_repr }}</td>
                                          <td>{{ entry.content_type.name }}</td>
                                      </tr>
                                  {% endfor %}
                                  
                                  
                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Data List End-->
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</body>

<!-- jQuery -->
{% include 'footer.html' %}

{% include "PolicyAndMinistries/include/script.html" %}
<script src="{% static 'dashoboard_assets/assets//js//pages//policyArea.js' %}"></script>
</html>



     