{% load static %}
{% load mptt_tags %}
<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}

    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

  <style>
    .indicator {
      font-weight: bold;
    }

    .sub-indicator {
      padding-left: 24px;
    }

    .expandable-table-caret {
      cursor: pointer;
    }


    td {
      text-align: left;
    }
  </style>



  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      {% include "navbar.html" %}
      {% include "sidebar.html" %}
      <div class="content-wrapper">
        <section class="content">
          <div class="container-fluid mt-5">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Development Plan</h3>
                  </div>
                  <div class="card-body p-0">
              

<div class="card-body row">
  <div class="col-md-3">
    <button type="button" id="savePerformance" class="btn btn-primary btn-block"><i class="fa fa-database"></i> Batch Upload</button>
    <input type="hidden" id="dataEntry"  title="entry-date" class="btn btn-block bg-gradient-primary btn-xs"  data-entry-year ="{{entry.yearOfEntry}}" data-entry-quarter ="{{entry.quarter}}" data-entry-date ="{{entry.check_entryDate}}" />
  </div>
</div>
<table class="table table-hover table-sm" id="indicator-table">
  <thead>
      <tr>
          <th class="align-middle">Indicator</th>
          {% for quarter in quarters %}
          <th class="align-middle">{{ quarter }}</th>
          {% endfor %}
          <!-- Add more quarters as needed -->
      </tr>
  </thead>
  <tbody>
      {% for indicator in indicators %}
      <tr>
          <td class="border-0 indicator">{{ indicator.kpi_name_eng }}</td>
          {% for quarter in quarters %}
          <td>
              {% for plan in annual_plans %}
              {% if plan.indicator == indicator and plan.quarter == quarter %}
              <button type="button"  title="Quarter target" class="btn btn-block bg-gradient-primary btn-xs"  data-kpi-name="{{ indicator.kpi_name_eng }}" data-quarter-target="{{ plan.quarter_target }}" data-quarter-performance="{{ plan.quarter_performance }}" data-quarter-plan-id="{{ plan.id }}" id="targetButton_{{ plan.id }}"> {{ plan.quarter_target }} </button>

              {% if plan.quarter_performance %}
              <button type="button" title="Quarter Performance"  class="btn btn-block btn-outline-info btn-xs performance-button"  data-kpi-name="{{ indicator.kpi_name_eng }}" data-quarter-target="{{ plan.quarter_target }}" data-quarter-performance="{{ plan.quarter_performance }}" data-quarter-plan-id="{{ plan.id }}" id="performanceButton_{{ plan.id }}"> {{ plan.quarter_performance }} </button>
              {% endif %}
               <div class="performance-input mt-1">
            <input type="number" class="form-control" data-quarter-plan-id="{{ plan.id }}"   data-annual-year="{{ plan.year }}"   data-annual-quarter="{{ plan.quarter }}">
             </div>
              {% endif %}
              {% endfor %}
          </td>
          {% endfor %}
      </tr>
      {% if indicator.sub_kpi.all %}
      {% recursetree indicator.sub_kpi.all %}
      <tr data-widget="expandable-table" aria-expanded="false">
          <td>
              <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
              {{ node.sub_kpi_name_eng }}
          </td>
          {% for quarter in quarters %}
          <td>
              {% for plan in annual_plans %}
              {% if plan.sub_indicator == node and plan.quarter == quarter %}
              <button type="button" title="Quarter target" class="btn btn-block bg-gradient-primary btn-xs"  data-kpi-name="{{ node.sub_kpi_name_eng }}" data-quarter-target="{{ plan.quarter_target }}" data-quarter-performance="{{ plan.quarter_performance }}" data-quarter-plan-id="{{ plan.id }}" id="targetButton_{{ plan.id }}"> {{ plan.quarter_target }} </button>

              {% if plan.quarter_performance %}
              <button type="button" title="Quarter Performance" class="btn btn-block btn-outline-info btn-xs performance-button"  data-kpi-name="{{ node.sub_kpi_name_eng }}" data-quarter-target="{{ plan.quarter_target }}" data-quarter-performance="{{ plan.quarter_performance }}" data-quarter-plan-id="{{ plan.id }}" id="performanceButton_{{ plan.id }}"> {{ plan.quarter_performance }} </button>
              
              {% endif %}

              <div class="performance-input mt-1">
                <input type="number" class="form-control" data-quarter-plan-id="{{ plan.id }}"   data-annual-year="{{ plan.year }}"   data-annual-quarter="{{ plan.quarter }}">
                 </div>
              {% endif %}
              {% endfor %}
          </td>
          {% endfor %}
      </tr>
      {% if not node.is_leaf_node %}
      <tr class="expandable-body">
          <td colspan="12">
              <div class="p-0">
                  <!-- Sub-Indicator 1.1.1 -->
                  <table class="table table-hover table-sm sub-indicator">
                      <tbody>
                          <tr>
                              <td>{{ children }}</td>
                              {% for quarter in quarters %}
                              <td class="sub-indicato">
                                  {% for plan in annual_plans %}
                                  {% if plan.sub_indicator == children and plan.quarter == quarter %}
                                  <button type="button" title="Quarter target" class="btn btn-block bg-gradient-primary btn-xs"  data-kpi-name="{{ children.sub_kpi_name_eng }}" data-quarter-target="{{ plan.quarter_target }}" data-quarter-performance="{{ plan.quarter_performance }}" data-quarter-plan-id="{{ plan.id }}" id="targetButton_{{ plan.id }}"> {{ plan.quarter_target }} </button>
                                  
                                  {% if plan.quarter_performance %}
                                  <button type="button" title="Quarter Performance" class="btn btn-block btn-outline-info btn-xs performance-button"  data-kpi-name="{{ children.sub_kpi_name_eng }}" data-quarter-target="{{ plan.quarter_target }}" data-quarter-performance="{{ plan.quarter_performance }}" data-quarter-plan-id="{{ plan.id }}" id="performanceButton_{{ plan.id }}"> {{ plan.quarter_performance }} </button>
                          
                                  {% endif %}
                                  <div class="performance-input mt-1">
                                    <input type="number" class="form-control" data-quarter-plan-id="{{ plan.id }}"   data-annual-year="{{ plan.year }}"   data-annual-quarter="{{ plan.quarter }}">
                                     </div>
                                  {% endif %}
                                  {% endfor %}
                              </td>
                              {% endfor %}
                          </tr>
                          <!-- Sub-Indicator 1.1.1.1 -->
                      </tbody>
                  </table>
              </div>
          </td>
      </tr>
      {% endif %}
      {% endrecursetree %}
      {% endif %}
      {% endfor %}
  </tbody>
</table>



                  

                      <!-- Pagination -->




                      <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-circle pagination-outline justify-content-center" >
                        {% if indicators.has_previous %}
                          <li class="page-item">
                          <a class="page-link" href="?page={{ indicators.previous_page_number }}">Previous</a>
                          </li>
                        {% else %}
                          <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                          </li>
                        {% endif %}
                    
                        {% if indicators.number|add:'-4' > 1 %}
                          <li class="page-item"><a class="page-link" href="?page={{ indicators.number|add:'-5' }}">&hellip;</a></li>
                        {% endif %}
                    
                        {% for i in indicators.paginator.page_range %}
                          {% if indicators.number == i %}
                            <li class="page-item active" aria-current="page">
                            <span class="page-link">
                            {{ i }}
                            <span class="sr-only">(current)</span>
                            </span>
                          </li>
                          {% elif i > indicators.number|add:'-5' and i < indicators.number|add:'5' %}
                             <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                    
                        {% if indicators.paginator.num_pages > indicators.number|add:'4' %}
                           <li class="page-item"><a class="page-link" href="?page={{ indicators.number|add:'5' }}">&hellip;</a></li>
                        {% endif %}
                    
                        {% if indicators.has_next %}
                          <li class="page-item">
                          <a class="page-link" href="?page={{ indicators.next_page_number }}">Next</a>
                          </li>
                        {% else %}
                          <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                          </li>
                        {% endif %}
                        </ul>
                      </nav>
                                                
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      {% include "footer.html" %}
    
    

 


      {% comment %} <script src="{% static 'performance.js' %}"></script> {% endcomment %}
  
    

    <!-- Include jQuery library -->

  
    <script>
    
      $(document).ready(function() {
        const entry = $('#dataEntry').data();
        $('.performance-input input').each(function() {
          var buttonYear = $(this).data('annual-year');
          var buttonQuarter = $(this).data('annual-quarter');
          if (buttonYear !== entry.entryYear || buttonQuarter !== entry.entryQuarter  ) {
              $(this).prop('disabled', true);
          }
      });


        var performanceData = {};
      
        // Event handler for performance input fields
        $('.performance-input input').on('change', function() {
          var performanceInput = $(this);
          var quarterPlanId = performanceInput.data('quarter-plan-id');
          var performanceValue = performanceInput.val();
          
          // Perform client-side validation
          if (!isValidPerformanceValue(performanceValue)) {
            // Display an error message or perform any other action
            console.log('Invalid performance value:', performanceValue);
            displayToast('danger', 'Error, Invalid performance value:');
  
          } else {
            // Add the performance data to the object
            performanceData[quarterPlanId] = performanceValue;
             console.log(performanceData)
            // Prepare data to display in the console
            var dataToDisplay = {
              quarter_plan_id: quarterPlanId,
              performance: performanceValue,
            };
          }
        });
      
        // Event handler for saving performance
        $('#savePerformance').on('click', function() {
          // Perform AJAX request to update performance data
          $.ajax({
            type: 'POST',
            url: '{% url "bulk_quarter_ministry" %}',
            data: performanceData,
            csrfmiddlewaretoken: '{{ csrf_token }}',
            success: function(response) {
              if (response.success) {
                performanceData = {};
      
                // Assuming response.data contains updated performance data
                // You can customize this part based on your data structure
                $.each(response.data, function(quarterPlanId, performanceValue) {
                  // Update or create the performance button with the new value
                  var performanceButton = $('#performanceButton_' + quarterPlanId);
                  if (performanceButton.length > 0) {
                    performanceButton.text(performanceValue);
                  } else {
                    // Create a new performance button if it doesn't exist
                    var newButton = $('<button>', {
                      type: 'button',
                      title: 'quarter Performance',
                      class: 'btn btn-block btn-outline-info btn-xs performance-button',
                      'data-quarter-plan-id': quarterPlanId,
                      text: performanceValue,
                    });
                    // Append the new button after the annual target button's parent
                    $('#targetButton_' + quarterPlanId).after(newButton);
                  }
                });
      
                displayToast('success', 'The Quarter performance successfully Inserted');
              } else {
                displayToast('danger', 'An error occurred while updating performance');
              }
            },
            error: function() {
              displayToast('danger', 'An error occurred while updating performance');
            },
          });
        });
      
        // Function to display toast notifications
        function displayToast(type, message) {
          $(document).Toasts('create', {
            class: 'bg-' + type,
            title: type === 'success' ? '&#128515 Hello, User' : '&#128532 Hello User',
            subtitle: 'MoPD',
            autohide:true,
            delay:3000,
            body: message,
          });
        }
      
        // Function to validate performanceValue 
        function isValidPerformanceValue(value) {
          // Implement your validation logic here
          // Example: Ensure that the value is a positive number
          return !isNaN(parseFloat(value)) && isFinite(value) && parseFloat(value) >= 0;
        }
      });
      
      
      
    </script>
    
    
    </div>
  </body>
</html>
