{% load mptt_tags %}
<div class="table-responsive" id="table">
                  




   <table class="table table-hover table-sm" id="indicator-table">
     <thead>
         <tr>
             <th class="align-middle">Indicator</th>
             {% for year in years %}
             <th class="align-middle">{{ year }}</th>
             {% endfor %}
             <!-- Add more years as needed -->
         </tr>
     </thead>
     <tbody>
         {% for indicator in indicators %}
         <tr>
             <td class="border-0 indicator">{{ indicator.kpi_name_eng }}</td>
             {% for year in years %}
             <td>
                 {% for plan in annual_plans %}
                 {% if plan.indicator == indicator and plan.year == year %}
   
                
   
                 
                 <button type="button"  title="Anuual target" class="btn btn-block bg-gradient-primary btn-xs"  > {{ plan.annual_target }} </button>
               
                 {% if plan.annual_performance %}
                 <button type="button" title="Anuual Performance"  class="btn btn-block btn-outline-info btn-xs performance-button"      data-annual-plan-id="{{ plan.id }}" id="performanceButton_{{ plan.id }}"> {{ plan.annual_performance }} </button>
             
               
                 {% endif %}
                 {% endif %}
                 {% endfor %}
             </td>
             {% endfor %}
         </tr>
         {% if indicator.sub_kpi.all %}
         {% recursetree indicator.sub_kpi.all %}
         <tr data-widget="expandable-table" aria-expanded="true">
             <td>
                 <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                 {{ node.sub_kpi_name_eng }}
             </td>
             {% for year in years %}
             <td>
                 {% for plan in annual_plans %}
                 {% if plan.sub_indicator == node and plan.year == year %}
                 <button type="button" title="Anuual target" class="btn btn-block bg-gradient-primary btn-xs" data-toggle="modal" data-target="#performanceModal" data-kpi-name="{{ node.sub_kpi_name_eng }}"       > {{ plan.annual_target }} </button>
                 
                 {% if plan.annual_performance %}
                 <button type="button" title="Anuual Performance" class="btn btn-block btn-outline-info btn-xs performance-button" > {{ plan.annual_performance }} </button>
             
   
                 {% endif %}
                 {% endif %}
                 {% endfor %}
             </td>
             {% endfor %}
         </tr>
         {% if not node.is_leaf_node %}
         <tr class="expandable-body">
             <td colspan="12">
                 <div class="p-0">
                     <!-- Sub-Indicator 1.1.1 -->
                     <table class="table table-hover table-sm sub-indicator">
                         <tbody>
                             <tr>
                                 <td>{{ children }}</td>
                                 {% for year in years %}
                                 <td class="sub-indicato">
                                     {% for plan in annual_plans %}
                                     {% if plan.sub_indicator == children and plan.year == year %}
                                     <button type="button" title="Anuual target" class="btn btn-block bg-gradient-primary btn-xs"   > {{ plan.annual_target }} </button>
                                     
                                     {% if plan.annual_performance %}
                                     <button type="button" title="Anuual Performance" class="btn btn-block btn-outline-info btn-xs performance-button" > {{ plan.annual_performance }} </button>
                                   
                                     {% endif %}
                                     {% endif %}
                                     {% endfor %}
                                 </td>
                                 {% endfor %}
                             </tr>
                             <!-- Sub-Indicator 1.1.1.1 -->
                         </tbody>
                     </table>
                 </div>
             </td>
         </tr>
         {% endif %}
         {% endrecursetree %}
         {% endif %}
         {% endfor %}
     </tbody>
   </table>
   

   <!-- Pagination -->

   <div id="pagination"></div>

                             
 </div>