{% load static%}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<!-- Required Js -->
<script src="{% static 'dashoboard_assets/assets/js/plugins/popper.min.js' %}"></script>
<script src="{% static 'dashoboard_assets/assets/js/plugins/simplebar.min.js' %}"></script>
<script src="{% static 'dashoboard_assets/assets/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'dashoboard_assets/assets/js/fonts/custom-font.js' %}"></script>
<script src="{% static 'dashoboard_assets/assets/js/pcoded.js' %}"></script>
<script src="{% static 'dashoboard_assets/assets/js/plugins/feather.min.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.0/jquery-ui.min.js"
    integrity="sha512-MlEyuwT6VkRXExjj8CdBKNgd+e2H+aYZOCUaCrt9KRk6MlZDOs91V1yK22rwm8aCIsb5Ec1euL8f0g58RKT/Pg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/apexsankey@1.1.2/apexsankey.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/timeline.js"></script>

<script>layout_change('false');</script>
<script>layout_theme_contrast_change('false');</script>
<script>change_box_container('false');</script>
<script>layout_caption_change('true');</script>
<script>layout_rtl_change('false');</script>
<script>preset_change('preset-1');</script>
<script>main_layout_change('vertical');</script>
