:root {
    --tif-blue: #01a9ac;
}

.card-title-container {
    display: flex !important;
    justify-content: center !important;
    padding-top: 20px;
}

.form-title {
    font-size: medium;
    font-weight: bold;
    margin: 0% 10%;
    text-align: center;

}

.invalid-form-field input {
    border-color: red !important;
}

.invalid-form-field textarea {
    border-color: red !important;
}

.invalid-form-field select {
    border-color: red !important;
}

.error-text {
    color: red;
}

.submit-btn {
    margin-bottom: 20px;
    background-color: var(--tif-blue);
    color: white;
}

.help-text {
    font-weight: lighter;
    font-size: 0.9rem;
}

.form-select > option {
    font-size: 1.2rem;
    padding: 30px;
}


@media (max-width:500px) {
    .report-form .card.card-flush.h-md-100.form-card {
        margin: 0%;
    }
}


.add-input-btn {
    background-color: var(--tif-blue);
    color: white;
    float: right;
    margin-bottom: 20px;
}

.file-info {
    margin-left: 20px;
    font-size: smaller;
}