{% load custom_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  {% include 'PolicyAndMinistries/include/head.html' %}
  {% csrf_token %}
  <link rel="stylesheet" href="{% static  'plugins/select2/css/select2.min.css' %}" >
  <link rel="stylesheet" href="{% static  'plugins/select2/css/select2-bootstrap4.min.css' %}" >
  
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" >
  <link rel="stylesheet" href="  https://cdn.datatables.net/rowgroup/1.5.0/css/rowGroup.dataTables.css">

  <style> 
    .card-shadow:hover {
        box-shadow: 0 15px 15px 0 rgba(0, 0, 0, .16);
        transform: translateY(-5px);
        cursor: pointer;
        border : 1px solid red;
    }
  </style>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
    
      {% include "navbar.html" %}
      {% include "sidebar.html" %}
      <div class="content-wrapper">

       

    <div class="pc-container">
        <div class="pc-content container-sm">
            <div class="p-3">
                <h2 class="text-info p-2"> Affiliated Organizations </h2>
            <div class="container-sm">
                <div class="row justify-content-end p-3">
                    <!--Filter Year and Quarter-->
                    <div class="col-md-2  form-floating">
                        <select class="form-select" id="dataType" aria-label="Floating label select example">
                            <option selected value="year">Yearly</option>
                            <option value="quarter">Quarterly</option>
                        </select>
                        <label for="dataType">Select data type</label>
                    </div>
                    <div class="col-md-2  form-floating">
                        <select class="form-select" id="dataTypeLists" aria-label="Floating label select example">

                        </select>
                        <label for="dataTypeLists">Select time</label>
                    </div>
                </div>
            </div>
            <div class="row m-0" id="ministryCardLists"></div>
            <div class="row m-0" id="policyAreaMainCard"></div>
            <div class="row m-0" id="goalWithKraList"></div>
            </div>
        </div>
              <!--Indicator Detail Modal-->
    <div class="modal fade" id="indicatorModal" tabindex="-1" aria-labelledby="indicatorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="indicatorModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">


                        <div class="col-xl-7">
                            <div class="simplebar-content" style="padding: 20px;">
                                <div class="card">
                                    <div class="table-body card-body pt-0">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Basic Info</th>
                                                        <th class="text-end"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="kpi-info-table">
                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center text-muted">
                                                                <span class="text-truncate w-100">KPI Meas..
                                                                    units</span>
                                                            </div>
                                                        </td>
                                                        <td class="text-end">
                                                            <span id="kpi-unit"
                                                                class="badge bg-light-success">Team</span>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center text-muted">
                                                                <span class="text-truncate w-100">kPI Char</span>
                                                            </div>
                                                        </td>
                                                        <td class="text-end">
                                                            <span id="kpi-char"
                                                                class="badge bg-light-success">Team</span>
                                                        </td>
                                                    </tr>


                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center text-muted">
                                                                <span class="text-truncate w-100">kPI Wight</span>
                                                            </div>
                                                        </td>
                                                        <td class="text-end">
                                                            <span id="kpi-weight"
                                                                class="badge bg-light-success">Team</span>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center text-muted">
                                                                <span class="text-truncate w-100">KRA</span>
                                                            </div>
                                                        </td>
                                                        <td class="text-end">
                                                            <span id="kpi-kra"
                                                                class="badge bg-light-success">Team</span>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center text-muted">
                                                                <span class="text-truncate w-100">Goal</span>
                                                            </div>
                                                        </td>
                                                        <td class="text-end">
                                                            <span id="kpi-goal"
                                                                class="badge bg-light-success">Team</span>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center text-muted">
                                                                <span class="text-truncate w-100">Ministry</span>
                                                            </div>
                                                        </td>
                                                        <td class="text-end">
                                                            <span id="kpi-ministry"
                                                                class="badge bg-light-success">Team</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Chart Target Vs Performance-->
                        <div class="col-xl-5 card" id="indicator-key-performance-chart">
                        </div>


                        <!--Table relation-->

                        <div class="col-12">
                            <div class="table-reponsive">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 id="table-title" >Annual Plan</h5>
                                    </div>
                                    <div class="card-body table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th id="table-year-type">Year</th>
                                                        <th>Plan</th>
                                                        <th>Perf</th>
                                                        <th>Score</th>
                                                        <th>Chg in abs (number) from Pr Year</th>
                                                        <th>Chg in abs (percent) from Pr Year</th>
                                                    </tr>
                                                </thead>

                                                <tbody id="modalAnnualPlanTable">
                                                </tbody>


                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>









   
      {% include "footer.html" %}
    
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/highcharts-more.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
      <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
      <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.js"></script>
      <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/rowGroup.dataTables.js"></script>
      <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.js"></script>
      <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/fixedHeader.dataTables.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>

      <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>

      <script src="{% static "admin/js/affiliated.js" %}"></script>

    
  </body>
</html>
