{% load custom_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  {% csrf_token %}
  <link rel="stylesheet" href="{% static  'plugins/select2/css/select2.min.css' %}" >
  <link rel="stylesheet" href="{% static  'plugins/select2/css/select2-bootstrap4.min.css' %}" >
  
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" >
  <link rel="stylesheet" href="  https://cdn.datatables.net/rowgroup/1.5.0/css/rowGroup.dataTables.css">

  <style> 
    .card-shadow:hover {
        box-shadow: 0 15px 15px 0 rgba(0, 0, 0, .16);
        transform: translateY(-5px);
        cursor: pointer;
        border : 1px solid red;
    }
  </style>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
    
      {% include "navbar.html" %}
      {% include "sidebar.html" %}
      <div class="content-wrapper">

        </div>
      </div>









   
      {% include "footer.html" %}
    
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/highcharts-more.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
      <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
      <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.js"></script>
      <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/rowGroup.dataTables.js"></script>
      <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.js"></script>
      <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/fixedHeader.dataTables.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>

      <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>

      <script src="{% static "admin/js/affiliated.js" %}"></script>

    
  </body>
</html>
