{% load custom_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  {% csrf_token %}
  <link rel="stylesheet" href="{% static  'plugins/select2/css/select2.min.css' %}" >
  <link rel="stylesheet" href="{% static  'plugins/select2/css/select2-bootstrap4.min.css' %}" >
  
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" >
  <link rel="stylesheet" href="  https://cdn.datatables.net/rowgroup/1.5.0/css/rowGroup.dataTables.css">


  <style>
    .group-header {
        background-color: #094504; /* Light gray background */
        font-weight: bold;
    }

    .group-header-1 {
        background-color: #5f915a; 
        color: #ffffff;
    }

    .group-header-2 {
        background-color: #b4e3a6; /* Light yellow background for second group #DFDFDF */
    }

    table.fixedHeader-floating,
table.fixedHeader-locked {
  position: relative !important;
  background-color: var(--dt-html-background);
  background-color: var(--dt-html-background);
}

@media print {
  table.fixedHeader-floating {
    display: none;
  }
}





/* .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
 */



/* 
th {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
}
 
th:first-child {
  border-left: 1px solid #000000;
} */


</style>

<style>
    /* Custom CSS to darken the outside border of the DataTables table */
    table.dataTable {
        border: 0.5px solid #5f915a; 
        /* Darken the outer border */
    }
    table.dataTable thead th,
    table.dataTable tfoot th {
        border-bottom: 1px solid #5f915a; /* Darken the header and footer borders */
    }
    table.dataTable tbody td {
        border: 1px solid #ccc; /* Optional: Customize inner cell borders if needed */
    }
</style>



  <style>

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
      background-color: #007bff;
      border-color: #006fe6;
      color: #fff;
      padding: 0 10px;
      margin-top: .31rem;
  }


    .indicator {
      font-weight: bold;
    }

    .sub-indicator {
      padding-left: 24px;
    }

    .expandable-table-caret {
      cursor: pointer;
    }


    td {
      text-align: left;
    }
  </style>



  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
    
      {% include "navbar.html" %}
      {% include "sidebar.html" %}
      <div class="content-wrapper">
        <section class="content">
          <div class="container-fluid my-4">

    <div class="row">

      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h6>{{policy_area_count.policyAreaEng}}</h6>

            <p>Policy Areas</p>
          </div>
          <div class="icon">
            {{ policy_area_count.icon.as_html  }}
            
          </div>
          <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>



      <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
              <div class="inner">
                  <h3>{{ goal_count }}</h3>
                  <p>Strategic Goal</p>
              </div>
              <div class="icon">
                  <i class="fas fa-bullseye"></i> <!-- Icon for Goals -->
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
              <div class="inner">
                  <h3>{{ kra_count }}</h3>
                  <p>Total KRAs</p>
              </div>
              <div class="icon">
                  <i class="fas fa-briefcase"></i> <!-- Icon for KRAs -->
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
      </div>
      
      <!-- ./col -->
      <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
              <div class="inner">
                  <h3>{{ indicator_count }}</h3>
                  <p>Total Indicators</p>
              </div>
              <div class="icon">
                  <i class="fas fa-chart-line"></i> <!-- Icon for Indicators -->
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
      </div>


    </div>


          <div class="row">
              <div class="col-12">
                  <div class="card ">

                    
                      <div class="card-header group-header-1">
                          <h3 class="card-title">Filter</h3>
                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                          </div>
                      </div>

                     
                      <div class="card-body row p-0 mt-3">
                          <div class="col-md-12">

                              <form id="filterForm" method="get">
                              
                                <div class="form-group m-3">
                                    <label>Filter Policy Area</label>
                                    <select class="select2 form-control" id="multiSelect" name="selected_policies[]" multiple="multiple" data-placeholder="Select a Policy Area">
                                      {% for policy in policies %}
                                      <option value="{{ policy.id }}" {% if policy.id|stringformat:"s" in selected_policies %}selected{% endif %}>{{ policy.policyAreaEng }}</option>
                                      {% endfor %}
                                    </select>
                                  
                                </div>
                        
                          </div>
                         
                      </div>

                      
                      <div class="col-md-3 my-2">
                        <button type="submit" id="submitButton" class="btn group-header-1
                        
                         btn-block"><i class="fa fa-database"></i> Filter</button>
                    </div>
                    </form>
                  </div>
              </div>
          </div>
          

            <div class="row">
            
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Development Plan</h3>
                  
                  </div>
                  <div class="card-body ">

                  
                  
                  <table id="example" class="table-responsive table table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Goal</th>
                            <th>KRA</th>
                            <th>Indicator</th>
                            {% for year in years %}
                                <th>{{ year.year_amh }}</th>

                               
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for goal in strategic_goals %}
                            {% for kra in goal.kra_goal.all %}
                                {% for indicator in kra.indicators.all %}
                                    <tr>
                                        <td>{{ goal.goal_name_eng }}</td>
                                        <td>{{ kra.activity_name_eng }}</td>
                                        <td>{{ indicator.kpi_name_eng }}  <a href="{% url 'indicator_detail' indicator.id %}"> <i class="fas fa-eye"></i> </a></td>
                                        {% for year in years %}
                                            <td>
                                                {% with annual_plans_lookup|get_item:indicator.id|get_item:year.id as plan %}
                                                    {% if plan %}
                                                        {% if plan.annual_target %}
                                                            <button type="button" title="Annual Target" class="btn btn-block bg-gradient-success btn-xs">{{ plan.annual_target }}</button>
                                                            {% if plan.annual_performance %}
                                                         <button type="button" title="Anuual Performance" class="btn btn-block bg-gradient-info btn-xs performance-button" > {{ plan.annual_performance }} </button>
                                                      
                                                        {% endif %}
                                                        {% else %}
                                                           

                                                        <button type="button" title="Anuual Performance" class="btn btn-block bg-gradient-info btn-xs performance-button" >N/A </button>
                                                        
                                                        {% endif %}
                                                    {% else %}
                                                    <button type="button" title="Anuual Performance" class="btn btn-block bg-gradient-info btn-xs performance-button" >N/A </button>
                                                    {% endif %}
                                                {% endwith %}
                                            </td>
                                         
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
 </div>
</div>
</div>
                 
              </div>


            </div>
          </div>
        </section>
      </div>

      {% include "footer.html" %}
    
      <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
      <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.js"></script>
      <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/rowGroup.dataTables.js"></script>
      <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.js"></script>
      <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/fixedHeader.dataTables.js"></script>

      <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
      <script>
        $(document).ready(function() {
            $('#example').DataTable({
             pageLength: -1,
             ordering: false,  // Disable sorting
                rowGroup: {
                    dataSrc: [0, 1],  // Group by Goal Name (2nd column) and KRA Name (3rd column)
                    startRender: function (rows, group, level) {
                        // Apply different classes based on the group level
                        var className = level === 0 ? 'group-header-1' : 'group-header-2';
                        return $('<tr/>')
                            .append('<td colspan="10" class="group-header ' + className + '">' + group + '</td>');
                    }
                },
                responsive: true,
                fixedHeader: true,
                columnDefs: [
                    { targets: [0, 1], visible: false }  // Hide Goal Name and KRA Name columns from display
                ],
                drawCallback: function(settings) {
                    var api = this.api();
                    // Apply styles to the grouped rows
                    api.rows({page: 'current'}).nodes().each(function(row, i) {
                        if ($(row).hasClass('group-header')) {
                            // Add your custom styles here if needed
                        }
                    });
                }
            });
        });
    </script>

        
 
    <script> 

        $(document).ready(function () {
            $('#multiSelect').select2();
          
              // Function to show the loading animation
            function showLoadingAnimation() {
                $('#loading-animation').show();
            }

            // Function to hide the loading animation
            function hideLoadingAnimation() {
                $('#loading-animation').hide();
            }



            
          });


          // JavaScript for AJAX-based pagination




          
          
    </script>
        


    
    </div>
  </body>
</html>
