{% load custom_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
{% csrf_token %}
<link rel="stylesheet" href="{% static  'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static  'plugins/select2/css/select2-bootstrap4.min.css' %}">

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css">
<link rel="stylesheet" href="  https://cdn.datatables.net/rowgroup/1.5.0/css/rowGroup.dataTables.css">

<body class="hold-transition sidebar-mini">
  <div class="wrapper">

    {% include "sidebar.html" %}
    {% include "navbar.html" %}
    <div class="content-wrapper">
      <div class="container-fluid col-lg-9 pt-3 pt-lg-5 pb-3">
        <div class="card shadow-sm">
          <div class="card-body">
              <!-- Row for Personal Info and Ministry Info side by side -->
              <div class="row">
                  <!-- Personal Info Section (5 columns) -->
                  <div class="col-md-5 ">
                    <div class="card-header bg-success text-white">
                      <h3 class="mb-0">Personal Info</h3>
                  </div>
                    <div class="card-body bg-light rounded-3 p-3">
                      <div class="d-flex align-items-center my-4 px-3">
                          <!-- User Image -->
                          <img src="{{user.user_image}}" alt="User Photo" 
                               class="rounded-circle border border-3 border-success shadow-sm me-3"
                               style="width: 70px; height: 70px; object-fit: cover;">
                      </div>
                      <div>
                        <p class="text-muted">Fisrt Name: {{ user.fisrt_name }}</p>
                        <p class="text-muted">Last Name: {{ user.last_name }}</p>
                        <p class="text-muted">Email: {{ user.email }}</p>
                        <p class="text-muted">User Name: {{user.username}}</p>
                    </div>
                  </div> 
                  </div>
      
                  <!-- Ministry Info Section (7 columns) -->
                  <div class="col-md-7">
                      <div class="card-header bg-success text-white">
                          <h3 class="mb-0">Ministry Info</h3>
                      </div>
                      <div class="card-body bg-light rounded-3 p-3">
                          <h4 class="mb-2">{{ ministry.name }}</h4>
                          <img src="{{ministry.image}}" alt="Ministry Logo" 
                          class="rounded-circle border border-3 border-success shadow-sm me-3 img-fluid"
                          style="width: 120px; height: 120px; object-fit: cover;">
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                  <strong>Ministry Code:</strong> <span class="text-muted">{{ ministry.code }}</span>
                              </li>
                              <li class="list-group-item">
                                  <strong>Emails:</strong>
                                  <ul class="list-unstyled mt-2 ms-3">
                                    {% for email in emails  %}
                                      <li class="bg-white p-2 rounded shadow-sm mb-2">{{email}}</li>
                                      {% endfor %}  
                                  </ul>
                              </li>
                              <li class="list-group-item">
                                  <strong>Phone Numbers:</strong>
                                  <ul class="list-unstyled mt-2 ms-3">
                                    {% for phone in phones  %}
                                    <li class="bg-white p-2 rounded shadow-sm mb-2">{{phone}}</li>
                                    {% endfor %}  
                                  </ul>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                  <strong>Ministry Name English</strong> <span class="text-muted">{{ministry.responsible_ministry_eng}}</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                <strong>Ministry Name Amharic</strong> <span class="text-muted">{{ministry.responsible_ministry_amh}}</span>
                            </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                  <strong>City:</strong> <span class="text-muted">Addis Ababa</span>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                  <strong>Country:</strong> <span class="text-muted">Ethiopia</span>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      
          <!-- Footer -->
          <div class="card-footer d-flex justify-content-end mt-4">
              <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</button>
          </div>
      </div>
      
      </div>
    </div>

  </div>

  <!--Indicator Detail Modal-->

  <!-- Edit Profile Modal -->
  <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProfileModalLabel">Edit Ministry Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="responsibleMinistryEng" class="form-label">Ministry Name (English)</label>
              <input type="text" class="form-control" id="responsibleMinistryEng" name="responsible_ministry_eng" value="{{ ministry.responsible_ministry_eng }}">
            </div>
            <div class="mb-3">
              <label for="responsibleMinistryAmh" class="form-label">Ministry Name (Amharic)</label>
              <input type="text" class="form-control" id="responsibleMinistryAmh" name="responsible_ministry_amh" value="{{ ministry.responsible_ministry_amh }}">
            </div>
            <div class="mb-3">
              <label for="code" class="form-label">Ministry Code</label>
              <input type="text" class="form-control" id="code" name="code" value="{{ ministry.code }}">
            </div>
  
            <!-- Emails Section -->
            <div class="mb-3">
              <label for="emails" class="form-label">Emails</label>
              <div id="emailList">
                {% for email in emails %}
                  <input type="email" class="form-control mb-2" placeholder="Email" name="emails[]" value="{{ email }}">
                {% endfor %}
              </div>
              <button type="button" class="btn btn-outline-primary btn-sm mt-2" onclick="addEmail()">Add Email</button>
            </div>
  
            <!-- Phone Numbers Section -->
            <div class="mb-3">
              <label for="phoneNumbers" class="form-label">Phone Numbers</label>
              <div id="phoneList">
                {% for phone in phones %}
                  <input type="tel" class="form-control mb-2" placeholder="Phone" name="phones[]" value="{{ phone }}">
                {% endfor %}
              </div>
              <button type="button" class="btn btn-outline-primary btn-sm mt-2" onclick="addPhone()">Add Phone Number</button>
            </div>
  
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  


  {% include "footer.html" %}

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.js"></script>
  <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/rowGroup.dataTables.js"></script>
  <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.js"></script>
  <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/fixedHeader.dataTables.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>

  <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>

  <script src="{% static " admin/js/affiliated.js" %}"></script>


</body>
<script>
  function addEmail() {
    const emailList = document.getElementById('emailList');
    const newEmailInput = document.createElement('input');
    newEmailInput.type = 'email';
    newEmailInput.className = 'form-control mb-2';
    newEmailInput.placeholder = `Email ${emailList.children.length + 1}`;
    newEmailInput.name = 'emails[]';  // Ensure the correct name attribute
    emailList.appendChild(newEmailInput);
  }
  
  function addPhone() {
    const phoneList = document.getElementById('phoneList');
    const newPhoneInput = document.createElement('input');
    newPhoneInput.type = 'tel';
    newPhoneInput.className = 'form-control mb-2';
    newPhoneInput.placeholder = `Phone ${phoneList.children.length + 1}`;
    newPhoneInput.name = 'phones[]';  // Ensure the correct name attribute
    phoneList.appendChild(newPhoneInput);
  }
  
</script>
</html>