{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  {% csrf_token %}
  <link rel="stylesheet" href="{% static  'plugins/select2/css/select2.min.css' %}" >
  <link rel="stylesheet" href="{% static  'plugins/select2/css/select2-bootstrap4.min.css' %}" >
  

  <style>

          .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: #007bff;
            border-color: #006fe6;
            color: #fff;
            padding: 0 10px;
            margin-top: .31rem;
            white-space: normal;
        
        }

        .select2-container .select2-selection--multiple .select2-selection__rendered {
          white-space: normal;
        }
          .indicator {
            font-weight: bold;
          }

          .sub-indicator {
            padding-left: 24px;
          }

          .expandable-table-caret {
            cursor: pointer;
          }


          td {
            text-align: left;
          }
  </style>



  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
    
      {% include "navbar.html" %}
      {% include "sidebar.html" %}
      <div class="content-wrapper">
        <section class="content">
          <div class="container-fluid my-4">

            {% include "mopd/search.html" %}
          


            <div class="row">
              <div class="col-12">
              <div class="card card-default card-success">
                <div class="card-header">
                  <h3 class="card-title">Goal and KRA</h3>
                


                  <div class="card-tools">

                    <a href="{% url 'ministry_url' %}" class="btn btn-primary"> <i class="fa fa-database"> </i> Insert Performace </a>


                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <input type="hidden" value="{{ selected_ministries.0 }}"  name="multiSelect2" id="multiSelect2">
                <div class="card-body">
                  <form id="filterForm" method="get">
                  <div class="row">
              
                    

                    <div class="col-md-5">
                      <div class="form-group">
                        <label>Select Goals</label>
                        <select class=" form-control select2" id="selectedGoals" name="selectedGoals[]" multiple="multiple" data-placeholder="Select Goals">
                            {% for goal in goals %}
                                <option value="{{ goal.id }}" {% if goal.id in selected_goals %} selected{% endif %}>{{ goal.goal_name_eng }}</option>
                            {% endfor %}
                        </select>
                      </div>
                  </div>


                    <!-- /.col -->
                    <div class="col-md-5">
                  
                      <!-- /.form-group -->
                      <div class="form-group">
                        <label>Select  KRA</label>
                        <select class="select2 form-control" id="selectedAreas" name="selectedAreas[]" multiple="multiple" data-placeholder="Select Areas" data-areas-data="{{ goal_areas|json_script }}"></select>
                     </div>
                      <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                  
                  <!-- /.row -->
            
                
                              <div class="col-md-2 mt-4">
                                <div class="form-group">
                                  <label> </label>
                                <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Apply Filter</button>
                              </div>
                            </div>
                          </div>
                        </form>
      

                        
                  <!-- /.row -->
                </div>
                <!-- /.card-body -->
                
              </div>
            </div>

              
          </div>
          
          

            <div class="row">
            
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Development Plan</h3>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive" id="table">
                  
                      {% load mptt_tags %}



                      <table class="table table-hover table-sm" id="indicator-table">
                        <thead>
                            <tr>
                                <th class="align-middle">Indicator</th>
                                <th class="align-middle">Ministry</th>
                                
                                <th class="align-middle">KRA</th>
                                {% for year in years %}
                                <th class="align-middle">{{ year }}</th>
                                {% endfor %}
                                <!-- Add more years as needed -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for indicator in indicators %}
                            <tr>
                                <td class="border-0 indicator">{{ indicator.kpi_name_eng }} ({{ indicator.kpi_measurement_units }})   <a href="{% url 'indicator_detail' indicator.id %}"> <i class="far fa-eye"></i> </a></td>
                                <td class="border-0 indicator">  <small class="badge badge-primary">{{ indicator.responsible_ministries.code }}</small></td>


                                <td class="border-0 indicator">{{ indicator.keyResultArea }}</td>
                                {% for year in years %}
                                <td>
                                    {% for plan in annual_plans %}
                                    {% if plan.indicator == indicator and plan.year == year %}
                      
                                   
                      
                                    
                                    <button type="button"  title="Anuual target" class="btn btn-block bg-gradient-success btn-xs"  > {{ plan.annual_target }} </button>
                                  
                                    {% if plan.annual_performance %}
                                    <button type="button" title="Anuual Performance"  class="btn btn-block bg-gradient-info btn-xs performance-button"      data-annual-plan-id="{{ plan.id }}" id="performanceButton_{{ plan.id }}"> {{ plan.annual_performance }} </button>
                                
                                  
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                {% endfor %}
                            </tr>
                            {% if indicator.sub_kpi.all %}
                            {% recursetree indicator.sub_kpi.all %}
                            <tr data-widget="expandable-table" aria-expanded="false">
                                <td>
                                    <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                    {{ node.sub_kpi_name_eng }}
                                </td>
                                {% for year in years %}
                                <td>
                                    {% for plan in annual_plans %}
                                    {% if plan.sub_indicator == node and plan.year == year %}
                                    <button type="button" title="Anuual target" class="btn btn-block bg-gradient-success btn-xs" data-toggle="modal" data-target="#performanceModal" data-kpi-name="{{ node.sub_kpi_name_eng }}"       > {{ plan.annual_target }} </button>
                                    
                                    {% if plan.annual_performance %}
                                    <button type="button" title="Anuual Performance" class="btn btn-block bg-gradient-info btn-xs performance-button" > {{ plan.annual_performance }} </button>
                                
                      
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                {% endfor %}
                            </tr>
                            {% if not node.is_leaf_node %}
                            <tr class="expandable-body">
                                <td colspan="12">
                                    <div class="p-0">
                                        <!-- Sub-Indicator 1.1.1 -->
                                        <table class="table table-hover table-sm sub-indicator">
                                            <tbody>
                                                <tr>
                                                    <td>{{ children }}</td>
                                                    {% for year in years %}
                                                    <td class="sub-indicator">
                                                        {% for plan in annual_plans %}
                                                        {% if plan.sub_indicator == children and plan.year == year %}
                                                        <button type="button" title="Anuual target" class="btn btn-block bg-gradient-success btn-xs"   > {{ plan.annual_target }} </button>
                                                        
                                                        {% if plan.annual_performance %}
                                                        <button type="button" title="Anuual Performance" class="btn btn-block bg-gradient-info btn-xs performance-button" > {{ plan.annual_performance }} </button>
                                                      
                                                        {% endif %}
                                                        {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                    {% endfor %}
                                                </tr>
                                                <!-- Sub-Indicator 1.1.1.1 -->
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endrecursetree %}
                            {% endif %}
                            {% endfor %}
                        </tbody>
                      </table>
                      

                      <!-- Pagination -->



                
                      <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-circle pagination-outline justify-content-center">
                            {% if indicators.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ indicators.previous_page_number }}{% for goal in selected_goals %}&selectedGoals[]={{ goal }}{% endfor %}{% for kra in selected_kra %}&selectedAreas[]={{ kra }}{% endfor %}{% if query %}&query={{ query }}{% endif %}{% for ministry in selected_ministries %}&selectedMinistries[]={{ ministry }}{% endfor %}">Previous</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                                </li>
                            {% endif %}
                    
                            {% if indicators.number|add:'-4' > 1 %}
                                <li class="page-item"><a class="page-link" href="?page={{ indicators.number|add:'-5' }}{% for goal in selected_goals %}&selectedGoals[]={{ goal }}{% endfor %}{% for kra in selected_kra %}&selectedAreas[]={{ kra }}{% endfor %}{% if query %}&query={{ query }}{% endif %}{% for ministry in selected_ministries %}&selectedMinistries[]={{ ministry }}{% endfor %}">&hellip;</a></li>
                            {% endif %}
                    
                            {% for i in indicators.paginator.page_range %}
                                {% if indicators.number == i %}
                                    <li class="page-item active" aria-current="page">
                                        <span class="page-link">
                                            {{ i }}
                                            <span class="sr-only">(current)</span>
                                        </span>
                                    </li>
                                {% elif i > indicators.number|add:'-5' and i < indicators.number|add:'5' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}{% for goal in selected_goals %}&selectedGoals[]={{ goal }}{% endfor %}{% for kra in selected_kra %}&selectedAreas[]={{ kra }}{% endfor %}{% if query %}&query={{ query }}{% endif %}{% for ministry in selected_ministries %}&selectedMinistries[]={{ ministry }}{% endfor %}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                    
                            {% if indicators.paginator.num_pages > indicators.number|add:'4' %}
                                <li class="page-item"><a class="page-link" href="?page={{ indicators.number|add:'5' }}{% for goal in selected_goals %}&selectedGoals[]={{ goal }}{% endfor %}{% for kra in selected_kra %}&selectedAreas[]={{ kra }}{% endfor %}{% if query %}&query={{ query }}{% endif %}{% for ministry in selected_ministries %}&selectedMinistries[]={{ ministry }}{% endfor %}">&hellip;</a></li>
                            {% endif %}
                    
                            {% if indicators.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ indicators.next_page_number }}{% for goal in selected_goals %}&selectedGoals[]={{ goal }}{% endfor %}{% for kra in selected_kra %}&selectedAreas[]={{ kra }}{% endfor %}{% if query %}&query={{ query }}{% endif %}{% for ministry in selected_ministries %}&selectedMinistries[]={{ ministry }}{% endfor %}">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    
                    
                      
                    </div>
                    
                  </div>
                </div>
              </div>


            </div>
          </div>
        </section>
      </div>

      {% include "footer.html" %}
    
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <!-- Include jQuery -->
      <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
      
   <!-- Ensure jQuery is included -->

    

      
   <!-- Add this script to your HTML template -->
   <script>
    var filteredData  =  null;
    function updateGoalsAndKras() {
      // Get selected ministries
      var selectedMinistries = $('#multiSelect2').val();
      console.info(selectedMinistries)
  
      
      // Send an AJAX request to the filter_goals_and_kras view
      $.ajax({
        url: '{% url "filter_goals_and_kras" %}',
        data: {
          selectedMinistries: [selectedMinistries],
        },
        dataType: 'json',
        success: function(data) {
          // Update the goals and KRA select elements
          // Example: Assuming 'selectedGoals' is the ID of your goals select element
          filteredData  =  data;
          console.log(data)

          var goalsSelect = $('#selectedGoals');
          goalsSelect.empty();
  
          // Populate goals select element with filtered goals
          $.each(data.filtered_goals, function(index, goal) {
            goalsSelect.append($('<option>', {
              value: goal.id,
              text: goal.goal_name_eng
            }));
          });
  
          // Update goal areas based on the selected goal
          // Example: Assuming 'selectedAreas' is the ID of your areas select element
          var areasSelect = $('#selectedAreas');
          areasSelect.empty();
  
          // Populate areas select element with goal areas
          $.each(data.goal_areas, function(goalId, areas) {
            if (selectedMinistries.length > 0) {
              areasSelect.prop('disabled', false);
            } else {
              areasSelect.prop('disabled', true);
            }
            $.each(areas, function(index, area) {
              areasSelect.append($('<option>', {
                value: area.id,
                text: area.activity_name_eng
              }));
            });
          });
        }
      });
    }
  
  
    // Add an event listener to trigger the function when ministries are selected
  
  
    // Add an event listener to trigger the function when goals are selected
  
      // You can add additional code here to handle goal selection changes if needed
      $('#selectedGoals').on('change', function() {
        var selectedGoals = $('#selectedGoals').val();
        console.log(filteredData); // Make sure it's spelled as 'filteredData'
        console.log(selectedGoals);
      
        var areasSelect = $('#selectedAreas');
        areasSelect.empty();
      
        if (selectedGoals.length > 0) {
          var selectedGoalId = selectedGoals[0]; // Only use the first selected goal
          var kraOptions = filteredData.goal_areas[selectedGoalId];
          console.info(kraOptions)
          if (kraOptions) {
            areasSelect.prop('disabled', false);
            $.each(kraOptions, function(index, area) {
              areasSelect.append($('<option>', {
                value: area.id,
                text: area.activity_name_eng
              }));
            });
          } else {
            areasSelect.prop('disabled', true);
          }
        } else {
          areasSelect.prop('disabled', true);
        }
      });
      
  </script>
  

        


  
  <script>
    $(document).ready(function () {
      const goalAreasData = {{goal_areas_json|safe }};
      
        $('#multiSelect').select2();
        $('#selectedGoals').select2();
        $('#selectedAreas').select2();

            // Populate areas based on selected goals using goalAreasData
           

            updateGoalsAndKras();
    
    });
</script>


    </div>
  </body>
</html>
