{% load custom_filters %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  {% csrf_token %}
  <link rel="stylesheet" href="{% static  'plugins/select2/css/select2.min.css' %}" >
  <link rel="stylesheet" href="{% static  'plugins/select2/css/select2-bootstrap4.min.css' %}" >
  
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" >
  <link rel="stylesheet" href="  https://cdn.datatables.net/rowgroup/1.5.0/css/rowGroup.dataTables.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.1.2/css/buttons.dataTables.css">

  


  <style>
    
    .group-header {
        background-color: #094504; /* Light gray background */
        font-weight: bold;
    }

    .bg-green-500 {
        background-color: #5f915a; 
        color: #ffffff;/* Light blue background for first group */
    }

    .group-header-2 {
        background-color: #b4e3a6; /* Light yellow background for second group #DFDFDF */
    }

  </style>



  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      {% include "navbar.html" %}
      {% include "sidebar.html" %}
      <div class="content-wrapper">
        <section class="content">
          <div class="container-fluid my-4">
            <div class="row">

              <div class="col-lg-3 col-6">
                 <!-- small box -->
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3>{{policy_area_count}}</h3>
        
                    <p>Number of Policy Areas</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-briefcase"></i>
                  </div>
                  <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              
              
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{ goal_count }}</h3>
                        <p>Total Goals</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-bullseye"></i> 
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>              
              </div>


              <!-- ./col -->
              <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-success">
                      <div class="inner">
                          <h3>{{ kra_count }}</h3>
                          <p>Total KRAs</p>
                      </div>
                      <div class="icon">
                          <i class="fas fa-briefcase"></i> <!-- Icon for KRAs -->
                      </div>
                      <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
              </div>
      
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-warning">
                      <div class="inner">
                          <h3>{{ indicator_count }}</h3>
                          <p>Total Indicators</p>
                      </div>
                      <div class="icon">
                          <i class="fas fa-chart-line"></i> <!-- Icon for Indicators -->
                      </div>
                      <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
              </div>
            </div>
            
            {% comment %} <div class="row">
              <div class="col-12">
                  <div class="card ">

                    <form id="filterForm" method="get">

                      <div class="card-header bg-green-500">
                          <h3 class="card-title">Filter</h3>
                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                          </div>
                      </div>

                     
                      <div class="card-body row p-0 mt-3">
                          <div class="col-md-12">

                              
                              
                                <div class="form-group m-3">
                                    <label>Filter Policy Area</label>
                                    <select class="select2 form-control" id="multiSelect" name="selected_policies[]" multiple="multiple" data-placeholder="Select a Policy Area">
                                      {% for policy in policies %}
                                      <option value="{{ policy.id }}" {% if policy.id|stringformat:"s" in selected_policies %}selected{% endif %}>{{ policy.policyAreaEng }}</option>
                                      {% endfor %}
                                    </select>
                                  
                                </div>
                        
                          </div>
                         
                      </div>

                      
                      <div class="col-md-3 my-2">
                        <button type="submit" id="submitButton" class="btn bg-green-500
                        
                         "><i class="fa fa-database"></i> Filter</button>
                      </div>

                    </form>

                  </div>
              </div>
            </div> {% endcomment %}

            <!-- Custom Filter -->
             <div class="row">
              <div class="col-12">
                  <div class="card ">
                    <form id="filterForm" method="get">

                      <div class="card-header bg-green-500">
                          <h3 class="card-title">Custom Filter</h3>
                          <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                          </div>
                      </div>

                      <form action="" method="get">
                      <div class="card-body row p-0 mt-3">
                          <div class="col-md-12 p-2 m-1 row justify-content-center">
                            <!--form start here-->
                           

                              <div class="col-md-3">
                                <!--Time period -->
                                <label for="dataType">Select Time Period</label>
                                <select id="dataPeriod" class="form-select" name="filter-period" aria-label="Floating label select example">
                                  <option {% if filter_period|stringformat:"s" == 'year' %}selected{% endif %} value="year">Yearly</option>
                                  <option {% if filter_period|stringformat:"s" == 'quarter' %}selected{% endif %}  value="quarter">Quarterly</option>
                                </select>
                              </div>

                              <div class="col-md-3">
                                <!--Year -->
                                <label for="years">Select Year</label>
                                <select id="years" class="form-select" name="filter-year" aria-label="Floating label select example">
                                  {% for year in year_option_list %}
                                  <option 
                                    {% if year.year_amh|stringformat:"s" == filter_year|stringformat:"s" %}selected{% endif %}

                                    value="{{year.year_amh}}">{{year.year_amh}} </option>
                                  {% endfor %}
                                </select>
                              </div>

                              <div class="col-md-3">
                                <label for="cars">Select Quarter:</label>
                                <select name="filter-quarter" class="form-select" id="quarters">
                                  {% for year in year_option_list %}
                                  <optgroup label="{{year.year_amh}}">
                                    <option {% if year.year_amh|stringformat:"s"|add:"-q1" == filter_quarter|stringformat:"s" %}selected{% endif %} value="{{year.year_amh}}-q1">{{year.year_amh}} - Q1</option>
                                    <option {% if year.year_amh|stringformat:"s"|add:"-q2" == filter_quarter|stringformat:"s" %}selected{% endif %} value="{{year.year_amh}}-q2">{{year.year_amh}} - Q2</option>
                                    <option {% if year.year_amh|stringformat:"s"|add:"-q3" == filter_quarter|stringformat:"s" %}selected{% endif %} value="{{year.year_amh}}-q3">{{year.year_amh}} - Q3</option>
                                    <option {% if year.year_amh|stringformat:"s"|add:"-q4" == filter_quarter|stringformat:"s" %}selected{% endif %} value="{{year.year_amh}}-q4">{{year.year_amh}} - Q4</option>
                                  </optgroup>
                                  {% endfor %}
                                </select>
                              </div>
                              <div class="col-md-3">
                                <label for="ministry">Select Ministry</label>
                                <select id="ministry" class="form-select" name="selected_ministry" aria-label="Select Ministry">
                                  {% for ministry in ministries %}
                                  <option 
                                    {% if ministry.responsible_ministry_eng == selected_ministry %}selected{% endif %}
                                    value="{{ ministry.responsible_ministry_eng }}">
                                    {{ ministry.responsible_ministry_eng }}
                                  </option>
                                  {% endfor %}
                                </select>
                              </div>
                              
                            
        
                          </div>
                         
                      </div>

                      
                      <div class="col-md-3 my-2">
                        <button type="submit" id="submitButton" class="btn bg-green-500 ">
                          <i class="fa fa-database"></i> Filter
                        </button>
                      </div>

                    </form>

                  </div>
              </div>
            </div>
            
          
            <div class="row">
            
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Development Plan</h3>
                  </div>
                  <div class="card-body table-responsive">
                  <table id="example" class=" table table-hover table-bordered table-sm" >
                    <thead>
                        <tr>
                            <th>Goal</th>
                            <th>KRA</th>
                            <th  class="border">Indicator</th>
                            {% for year in years %}
                                <th class="border">{{ year.year_amh }}</th>
                                 {% if filter_period == 'quarter' %}

                                {% for quarter in quarters%}
                                <th class="border">Q{{ forloop.counter }}</th>
                                {% endfor %}
                                {% endif %}

                                <th>
                                  <div class="form-check">
                                    <input 
                                      type="checkbox" 
                                      id="validateAllCheckbox_{{ year.id }}" 
                                      class="form-check-input validate-all-checkbox" 
                                      data-year-id="{{ year.id }}">
                                    <label class="form-check-label" for="validateAllCheckbox_{{ year.id }}">Validate All</label>
                                    <p class="d-flex float-right"> Validatation Comment </p>
                                  </div>

                                  
                                </th> 
                            {% endfor %}
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for goal in strategic_goals %}
                            {% for kra in goal.kra_goal.all %}
                              {% for indicator in kra.indicators.all %}
                                <tr>
                                  <!-- Display goal, KRA, and indicator details -->
                                  <td>{{ goal.goal_name_eng }}</td>
                                  <td>{{ kra.activity_name_eng }}</td>
                                  <td>
                                    {{ indicator.kpi_name_eng }}
                                    <a href="{% url 'indicator_detail' indicator.id %}">
                                      <i class="fas fa-eye"></i>
                                    </a>
                                  </td>
                                
                                  <!-- Iterate over years -->
                                  {% for year in years %}
                                  <td>
                                  <div class="row">
                                      <div class="col-lg-9">
                                        {% with annual_plans_lookup|get_item:indicator.id|get_item:year.id as plan %}
                                        {% if plan %}
                                          {% if plan.annual_target %}
                                            <button type="button" title="Annual Target" class="btn m-1 d-block w-100 rounded my-1 btn-success btn-xs">
                                              {{ plan.annual_target }}
                                            </button>
                                          {% else %}
                                            <button type="button" title="Annual Target" class="btn m-1 d-block w-100 rounded btn-warning btn-xs">
                                              None
                                            </button>
                                          {% endif %}
                                          
                                          {% if plan.annual_performance %}
                                            <button type="button" title="Annual Performance" class="btn m-1 d-block w-100 rounded btn-info btn-xs performance-button">
                                              {{ plan.annual_performance }}
                                            </button>
                                          {% else %}
                                            <button type="button" title="Annual Performance" class="btn m-1 d-block w-100 rounded btn-danger btn-xs performance-button">
                                              None
                                            </button>
                                          {% endif %}
                                        {% else %}
                                          <button type="button" title="No Plan Available" class="btn m-1 d-block w-100 rounded btn-secondary btn-xs">
                                            N/A
                                          </button>
                                        {% endif %}
                                      </div>
                                  </div> 
                                      
                                      <!-- Modal -->
                                           <div class="modal fade" id="validationCommentModal_{{ indicator.id }}_{{ year.id }}" tabindex="-1" aria-labelledby="validationCommentLabel_{{ indicator.id }}_{{ year.id }}" aria-hidden="true">
                                             <div class="modal-dialog modal-lg"> <!-- Large modal -->
                                               <div class="modal-content">
                                                 <!-- Header -->
                                                 <div class="modal-header bg-primary text-white">
                                                   <h5 class="modal-title" id="validationCommentLabel_{{ indicator.id }}_{{ year.id }}">Edit Validation Details</h5>
                                                   <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                                 </div>
                                           
                                                 <!-- Body -->
                                                 <div class="modal-body">
                                                   <form method="POST">
                                                     {% csrf_token %}
                                                     <input type="hidden" name="plan_id" value="{{ plan.id }}">
                                           
                                                     <!-- Validation Comment -->
                                                     <div class="mb-3">
                                                       <label for="validationCommentTextarea_{{ indicator.id }}_{{ year.id }}" class="form-label fw-bold">Validation Comment</label>
                                                       <textarea id="validationCommentTextarea_{{ indicator.id }}_{{ year.id }}" 
                                                                 name="validation_comment" 
                                                                 class="form-control" 
                                                                 rows="4" 
                                                                 placeholder="Enter validation comment here...">{% if plan and plan.validation_comment %}{{ plan.validation_comment }}{% endif %}</textarea>
                                                   </div>
                                                     <!-- Footer -->
                                                     <div class="modal-footer">
                                                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                       <button type="submit" class="btn btn-primary">Save Changes</button>
                                                     </div>
                                                   </form>
                                                 </div>
                                               </div>
                                             </div>
                                           </div>

                                    
                                    
                                    <!-- Checkbox for Validation -->
                                   
                                  </td>
                                  <td>
                                    {% if plan %}
                                          <!-- Checkbox -->
                                          <div class="form-check me-2">
                                            <input 
                                              type="checkbox" 
                                              class="form-check-input validate-checkbox mt-3" 
                                              data-plan-id="{{ plan.id }}" 
                                              data-year-id="{{ year.id }}" 
                                              {% if plan.validated %}checked{% endif %}>
                                          </div>
                                          
                                          <!-- Validation icon or button -->
                                          {% if plan and not plan.validated %}
                                          <div>
                                            <button 
                                              type="button" 
                                              class="btn btn-sm ml-3" 
                                              data-bs-toggle="modal" 
                                              data-bs-target="#validationCommentModal_{{ indicator.id }}_{{ year.id }}">
                                              <i class="fas fa-2x fa-times text-danger"></i>
                                            </button>
                                              <p class="d-flex float-right">{{ plan.validation_comment }}</p>   
                                            </div>
                                          {% else %}
                                            <i class="fas fa-2x fa-check text-success ml-4"></i>
                                          {% endif %}
                                      
                                    {% endif %}
                                  </td>
                                  
                                  {% endwith %}
                                  
                                 

                                    {% if filter_period == 'quarter' %}
                                    {% for quarter in quarters%}
                                      <td>
                                        <div class="row">
                                          <div class="col-lg-9">
                                              {% with quarter_progress_lookup|get_item:indicator.id|get_item:year.id|get_item:quarter.id as quarters_data %}

                                                    {% if quarters_data %}
                                                    {% if quarters_data.quarter_target %}
                                                      <button type="button" title="Quarter Target" class="btn m-1 d-block w-100 rounded my-1 btn-success btn-xs">
                                                          <!-- Display Quarter Target -->
                                                          {{ quarters_data.quarter_target }}
                                                        </button>
                                                      {% else %}
                                                        <button type="button" title="Quarter Target" class="btn m-1 d-block w-100 rounded btn-warning btn-xs">
                                                          None
                                                        </button>
                                                      {% endif %}
                                                  
                                                      <!-- Display Quarter Performance -->
                                                      {% if quarters_data.quarter_performance %}
                                                        <button type="button" title="Quarter Performance"
                                                          class="btn m-1 d-block w-100 rounded btn-info btn-xs performance-button">
                                                          {{ quarters_data.quarter_performance }}
                                                        </button>
                                                      {% else %}
                                                        <button type="button" title="Quarter Performance"
                                                          class="btn m-1 d-block w-100 rounded btn-danger btn-xs performance-button">
                                                          None
                                                        </button>
                                                      {% endif %}
                                                    
                                                    {% else %}
                                                      <!-- When no plan exists -->
                                                      <button type="button" title="No Plan Available" class="btn m-1 d-block w-100 rounded btn-secondary btn-xs">
                                                        N/A
                                                      </button>
                                                    {% endif %}
            
                                              {% endwith %}
                                          </div>
                                        </div>

                                        <form method="POST" name="quarter">
                                          {% csrf_token %}
                                          <input type="hidden" name="plan_id" value="{{ quarters_data.id }}">
                                          <input type="hidden" name="plan_type" value="quarter"> <!-- Specify plan type -->
                                        
                                          <div class="mb-3">
                                            <label for="validationCommentTextarea_{{ indicator.id }}_{{ year.id }}_quarter_{{ quarter.id }}" class="form-label fw-bold">
                                              Validation Comment
                                            </label>
                                            <textarea id="validationCommentTextarea_{{ indicator.id }}_{{ year.id }}_quarter_{{ quarter.id }}" 
                                                      name="justification" 
                                                      class="form-control" 
                                                      rows="4" 
                                                      placeholder="Enter validation comment here...">{% if quarters_data and quarters_data.justification %}{{ quarters_data.justification }}{% endif %}
                                            </textarea>
                                          </div>
                                        
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                          </div>
                                        </form>
                                        
                                      </td>

                                      <td>
                                        {% if plan %}
                                              <!-- Checkbox -->
                                              <div class="form-check me-2">
                                                <input 
                                                  type="checkbox" 
                                                  class="form-check-input validate-checkbox mt-3" 
                                                  data-plan-id="{{ plan.id }}" 
                                                  data-year-id="{{ year.id }}" 
                                                  {% if plan.validated %}checked{% endif %}>
                                              </div>
                                              
                                              <!-- Validation icon or button -->
                                              {% if plan and not plan.validated %}
                                              <div>
                                                <button 
                                                  type="button" 
                                                  class="btn btn-sm ml-3" 
                                                  data-bs-toggle="modal" 
                                                  data-bs-target="#validationCommentModal_{{ indicator.id }}_{{ year.id }}">
                                                  <i class="fas fa-2x fa-times text-danger"></i>
                                                </button>
                                                  <p class="d-flex float-right">{{ plan.validation_comment }}</p>   
                                                </div>
                                              {% else %}
                                                <i class="fas fa-2x fa-check text-success ml-4"></i>
                                              {% endif %}
                                          
                                        {% endif %}
                                      </td>
                                  
                     
                                    {% endfor %}
                                    {% endif %}

                                  {% endfor %}
                                </tr>
                              {% endfor %}
                            {% endfor %}
                        {% endfor %}

                    </tbody>
                    <button id="validateSelectedButton" class="btn btn-success float-right">Validate Selected</button>
                  </table>
                  

                </div>
              </div>
            </div>
          </div>

        </section>
      </div>
    </div>


   

    


      {% include "footer.html" %}
    
      <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
      <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.js"></script>
      <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/rowGroup.dataTables.js"></script>
      <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.js"></script>
      <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/fixedHeader.dataTables.js"></script>

      <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
      <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.dataTables.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
      <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>

      <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
      <script>
        $(document).ready(function() {

            var table = $('#example').DataTable({
                dom: 'Bfrtip',
                ordering: false,
                lengthMenu: [[ 50, 100, -1], [ 50, 100, "All"]] ,
                buttons: [
                    'copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5',
                    
                ],
                rowGroup: {
                    dataSrc: [0, 1], // Group by Goal Name (1st column) and KRA Name (2nd column)
                    startRender: function (rows, group, level) {
                        var className = level === 0 ? 'bg-green-500' : 'group-header-2';
                        return $('<tr/>')
                            .append('<td colspan="{{col_span_size}}" class="group-header ' + className + '">' + group + '</td>');
                    }
                },
                 
              columnDefs: [
                { width: "50%", targets: 2 },
                { targets: [0, 1], visible: false },
              ],
             

                
                drawCallback: function(settings) {
                    var api = this.api();
                    api.rows({page: 'current'}).nodes().each(function(row, i) {
                        if ($(row).hasClass('group-header')) {
                            // Add your custom styles here if needed
                        }
                    });
                }
            });

            // Example export function (modify for other formats)
            function exportDataAsCSV(data) {
                var csvContent = "";
                data.forEach(function(row) {
                    if (row.isGroup) {
                        var prefix = row.level === 0 ? 'Goal: ' : 'KRA: ';
                        csvContent += prefix + row.groupText + "\n";
                    } else {
                        csvContent += row.join(",") + "\n";
                    }
                });

                var hiddenElement = document.createElement('a');
                hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURIComponent(csvContent);
                hiddenElement.target = '_blank';
                hiddenElement.download = 'data.csv';
                hiddenElement.click();
            }

            function exportDataAsExcel(data) {
              var workbook = XLSX.utils.book_new();
              var worksheetData = [];
              
              data.forEach(function(row) {
                  if (row.isGroup) {
                      var prefix = row.level === 0 ? 'Goal: ' : 'KRA: ';
                      worksheetData.push([prefix + row.groupText]);
                  } else {
                      worksheetData.push(row);
                  }
              });
          
              var worksheet = XLSX.utils.aoa_to_sheet(worksheetData);
              XLSX.utils.book_append_sheet(workbook, worksheet, 'Sheet1');
              XLSX.writeFile(workbook, 'data.xlsx');
            }



        });
       



        $(document).ready(function () {
            $('#multiSelect').select2();
              // Function to show the loading animation
            function showLoadingAnimation() {
                $('#loading-animation').show();
            }

            // Function to hide the loading animation
            function hideLoadingAnimation() {
                $('#loading-animation').hide();
            }
          });


          //handle period changed
          let currentPeriod = $('#dataPeriod').val()

          if (currentPeriod == 'year') {
              $('#years').parent().show()
              $('#quarters').parent().hide()
            } else {
              $('#years').parent().hide()
              $('#quarters').parent().show()
            }


          $("#dataPeriod").on('change', function(){
            let period = $(this).val()
            
            if(period == 'year'){
              $('#years').parent().show()
              $('#quarters').parent().hide()
            }else{
              $('#years').parent().hide()
              $('#quarters').parent().show()
            }
          })
      </script>
      
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Handle "Validate All" checkbox toggle
      document.querySelectorAll(".validate-all-checkbox").forEach((checkbox) => {
        checkbox.addEventListener("change", function () {
          const yearId = this.dataset.yearId;
          const validate = this.checked;
  
          // Collect all checkboxes for the specific year
          const checkboxes = document.querySelectorAll(
            `.validate-checkbox[data-year-id="${yearId}"]`
          );
  
          // Update all checkboxes and icons in the UI
          checkboxes.forEach((cb) => {
            cb.checked = validate;
  
            const icon = cb.closest("td").querySelector("i");
            if (validate) {
              icon.classList.replace("fa-times", "fa-check");
              icon.classList.replace("text-danger", "text-success");
            } else {
              icon.classList.replace("fa-check", "fa-times");
              icon.classList.replace("text-success", "text-danger");
            }
          });
        });
      });
  
      // Sync individual row checkboxes with icons
      document.querySelectorAll(".validate-checkbox").forEach((checkbox) => {
        checkbox.addEventListener("change", function () {
          const icon = this.closest("td").querySelector("i");
          if (this.checked) {
            icon.classList.replace("fa-times", "fa-check");
            icon.classList.replace("text-danger", "text-success");
          } else {
            icon.classList.replace("fa-check", "fa-times");
            icon.classList.replace("text-success", "text-danger");
          }
        });
      });
    });
  </script>
  <script>
    document.getElementById("validateSelectedButton").addEventListener("click", function () {
      // Collect all checkboxes
      const allCheckboxes = document.querySelectorAll(".validate-checkbox");
  
      // Separate checked and unchecked checkboxes
      const validatedPlanIds = Array.from(allCheckboxes)
        .filter(cb => cb.checked)
        .map(cb => cb.dataset.planId);
  
      const allPlanIds = Array.from(allCheckboxes).map(cb => cb.dataset.planId);
  
      // Send the data to the backend
      fetch("{% url 'validate_plans' %}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",  // Include CSRF token for security
        },
        body: JSON.stringify({ 
          validated_plan_ids: validatedPlanIds,
          all_plan_ids: allPlanIds
        }),  // Send both validated and all plan IDs as JSON
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          // Update the UI to reflect the changes
          allCheckboxes.forEach(cb => {
            const icon = cb.closest("td").querySelector("i");
            if (cb.checked) {
              // Checked: Mark as validated
              icon.classList.replace("fa-times", "fa-check");
              icon.classList.replace("text-danger", "text-success");
            } else {
              // Unchecked: Mark as unvalidated
              icon.classList.replace("fa-check", "fa-times");
              icon.classList.replace("text-success", "text-danger");
            }
          });
          alert("Plans have been updated successfully!");
        } else {
          alert("Failed to update plans: " + data.message);
        }
      })
      .catch(error => console.error("Error:", error));
    });
  </script>
  
  
  
</html>
